.notes {
  display: flex;
  flex-direction: column;
  @mixin light {
    background-color: var(--mantine-color-white);
  }
  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  top: 0;
  z-index: 10;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mantine-color-dark-7);
  padding-top: var(--mantine-spacing-xs);

  @mixin light {
    background-color: var(--mantine-color-white);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}
