.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.dropdown {
  border: none;
  min-width: 20%;

  @mixin light {
    background-color: var(--mantine-color-white);
  }
  @mixin dark {
    background-color: var(--mantine-color-dark-7);
  }
}
